@import url("reset.css");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #222831;
  color: #EEEEEE;
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
  padding-top: 96px;
}
@media (max-width: 575.98px) {
  .page {
    padding-top: 80px;
  }
}
[class*=__container] {
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 32px;
  background-color: #00ADB5;
  border-radius: 24px;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: rgba(57, 62, 70, 0.75);
}
.button_dark {
  background-color: rgba(57, 62, 70, 0.75);
}
.button_dark:hover {
  background-color: #00ADB5;
}

.active {
  background-color: #00ADB5;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.5;
}
.title span {
  color: #00ADB5;
}
@media (max-width: 991.98px) {
  .title {
    font-size: 52px;
  }
}
@media (max-width: 767.98px) {
  .title {
    font-size: 45px;
  }
}

.header {
  background-color: #222831;
  opacity: 0.96;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 575.98px) {
  .header__container {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
  }
}
.header__logo {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 3px;
  align-items: center;
}
@media (max-width: 575.98px) {
  .menu__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.menu__link {
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  content: "";
  color: #00ADB5;
}

.main {
  padding-top: 93px;
  padding-bottom: 98px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}
@media (max-width: 1199.98px) {
  .main {
    padding-top: 50px;
    padding-bottom: 45px;
  }
}
@media (max-width: 767.98px) {
  .main {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.main__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1199.98px) {
  .main__container {
    flex-direction: column;
    align-items: stretch;
  }
}
.main__content {
  flex: 1 1 auto;
  padding-right: 20px;
}
@media (max-width: 1199.98px) {
  .main__content {
    padding-right: 0;
  }
}
.main__title {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
}
@media (max-width: 1199.98px) {
  .main__title {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .main__title {
    font-size: 65px;
  }
  .main__title:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 575.98px) {
  .main__title {
    font-size: 45px;
  }
}
.main__title span {
  color: #00ADB5;
}
.main__title:not(:last-child) {
  margin-bottom: 48px;
}
.main__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  text-align: center;
}
@media (max-width: 1199.98px) {
  .main__buttons {
    justify-content: center;
  }
}
@media (max-width: 479.98px) {
  .main__buttons {
    gap: 10px;
    flex-direction: column;
    align-items: stretch;
  }
}
.main__cv-button span {
  display: inline-block;
  background: url(../img/icons/download.svg) right no-repeat;
  padding-right: 34px;
}
.main__image {
  flex: 0 0 42.8%; /* 535 / 1250 * 100% */
  text-align: center;
}
@media (max-width: 1199.98px) {
  .main__image {
    flex: 0 0 auto;
  }
}
.main__image img {
  max-width: 100%;
}

.about {
  padding-top: 116px;
  padding-bottom: 116px;
}
@media (max-width: 1199.98px) {
  .about {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 991.98px) {
  .about {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
.about__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .about__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.about__content {
  flex: 1 1 auto;
  padding-right: 20px;
}
@media (max-width: 991.98px) {
  .about__content {
    text-align: center;
    padding-right: 0;
    margin-bottom: 20px;
  }
}
.about__text {
  max-width: 390px;
  line-height: 1.5;
}
@media (max-width: 991.98px) {
  .about__text {
    max-width: none;
    padding: 0 50px;
  }
}
@media (max-width: 575.98px) {
  .about__text {
    padding: 0 20px;
  }
}
.about__image {
  flex: 0 0 53.2%; /* 665/1250*100% */
  text-align: center;
}
.about__image img {
  max-width: 100%;
}

.works {
  padding-top: 146px;
  padding-bottom: 146px;
  background: url(../img/works/bg.svg) 0 0 repeat;
}
@media (max-width: 1199.98px) {
  .works {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 991.98px) {
  .works {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
.works__title:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 767.98px) {
  .works__title {
    text-align: center;
  }
}
.items-works__navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 48px;
}
@media (max-width: 767.98px) {
  .items-works__navigation {
    justify-content: center;
    margin-bottom: 20px;
  }
}
.items-works__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 45px;
}
@media (max-width: 767.98px) {
  .items-works__body {
    gap: 15px;
  }
}
.items-works__item {
  background: rgba(57, 62, 70, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 16px;
  padding: 45px;
}
.items-works__image {
  position: relative;
  padding-bottom: 59.6226415094%;
}
.items-works__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts {
  padding-top: 157px;
  padding-bottom: 125px;
}
@media (max-width: 1199.98px) {
  .contacts {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 991.98px) {
  .contacts {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
.contacts__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  align-items: start;
}
@media (max-width: 991.98px) {
  .contacts__container {
    grid-template-columns: auto;
  }
}
.contacts__title {
  line-height: 1.25;
}
@media (max-width: 991.98px) {
  .contacts__title {
    text-align: center;
  }
}
.contacts__image {
  text-align: center;
}
@media (max-width: 991.98px) {
  .contacts__image {
    display: none;
  }
}
.contacts__image img {
  max-width: 100%;
}
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
@media (max-width: 767.98px) {
  .form {
    display: flex;
    flex-direction: column;
  }
}
.form__item:nth-child(3) {
  grid-column: span 2;
}
.form__item:nth-child(4) {
  grid-column: span 2;
}
.form__label {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 150%;
}
.form__input {
  background: rgba(57, 62, 70, 0.5);
  border-radius: 16px;
  line-height: 150%;
  font-weight: 700;
  padding: 16px 24px;
  width: 100%;
  height: 59px;
}
.form__input::-moz-placeholder {
  color: rgba(238, 238, 238, 0.5);
  -moz-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.form__input::placeholder {
  color: rgba(238, 238, 238, 0.5);
  transition: opacity 0.3s ease 0s;
}
.form__input:focus::-moz-placeholder {
  opacity: 0;
}
.form__input:focus::placeholder {
  opacity: 0;
}
@media (max-width: 575.98px) {
  .form__button {
    width: 100%;
  }
}
.form__button span {
  display: inline-block;
  background: url(../img/icons/send.svg) right no-repeat;
  padding-right: 34px;
}

textarea.form__input {
  height: 280px;
  grid-template-columns: 1;
  resize: vertical;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid rgba(238, 238, 238, 0.1);
}
.footer__menu:not(:last-child) {
  margin-bottom: 28px;
}
.menu-footer__list {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
  row-gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.menu-footer__link {
  display: flex;
  line-height: 150%;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.menu-footer__link:hover {
  content: "";
  text-decoration: underline;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social__link {
  background-color: #393E46;
  border-radius: 50px;
  flex: 0 0 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease 0s;
}
.social__link:hover {
  background-color: #00ADB5;
}

.modal__container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 51;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 100%;
}
.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(111, 113, 117);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50px;
}
.modal__window :not(:last-child) {
  margin-bottom: 25px;
}
.modal__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 700;
}
.modal__close-btn {
  font-size: 24px;
  cursor: pointer;
}
.modal__close-btn:hover {
  color: rgb(226, 105, 105);
}
.modal__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__input {
  color: #393E46;
}
#file-chosen {
  color: #EEEEEE;
  margin: 40px 20px 20px;
}

#send-cv {
  display: none;
}